*{
  margin: 0;
}
body{
  background-color: antiquewhite;
}
/* menu */
.menu{
  position: absolute;
  margin-left: 80vw;
  font-size: 1.2rem;
}
/* index */
h1{
  position: absolute;
  margin-left: 40vw;
  margin-top: 30vh;
  font-size: 5rem;
  color: aliceblue;
}
.texto-header{
  font-size: 1.5rem;
  color: aliceblue;
}
.wall{
  height: 100vh;
  background-image: url(/sitios-web-ejercicio/imgs/wall.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
table{
  margin: auto;
}
.principal{
  position: absolute;
  margin-left: 25vw;
  margin-top: 42vh;
}
.principal p{
  font-weight: 700;
}
/* galleia */
h2{
  text-align: center;
  font-size: 2rem;
}
.land1{
  width: 400px;
  height: auto;
}
.land2{
  width: 600px;
  height: auto;
}
.land3{
  width: 600px;
  height: auto;
}
.gallery{
  /* margin-left: 500px; */
  display: flex;
  justify-content: center;
}
/* contacto */
.formulario{
  width: 60%;
  margin:0 auto ;
  margin-top: 15vh;
  font-size: 1.5rem;
}
button:hover{
  background-color: black;
  color: whitesmoke;
}
a{
  color: aliceblue;
}
ul li a{
  text-decoration: none;
}
